body{
   margin: 0;
   padding: 0;
   background-color: black;
}

fieldset{
  color: rgb(7, 6, 6);
    border:1px solid cyan;
}

form{
    width: 40%;
    margin: auto;
    background-color: lightcyan;
    box-sizing: border-box;
}

.headerTodo{
   text-align: center;
   background-image:linear-gradient(90deg,cyan,darkblue,cyan);
   color: white;
   font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

label{
    display: block;
}

.inputContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

fieldset div{
    width: 50%;
}

input{
    border: none;
    height: 2rem;
    width: 100%;
}

input:focus{
    outline: none;
    border-bottom: 1px solid gray;
}

table{
    width: 100%;
}

.task-container{
    padding: 5px;
    width: 100%;
}

.headingDesign{
    line-height: 2px;
    margin-top: 5px;
    color: rgb(7, 6, 6);
}

.markComplete{
    text-decoration: line-through;
    color: gray;
}

.dateDesign{
  /* display: inline-block; */
  line-height: 5px;
  font-size: 15px;
  letter-spacing: .5px;
  color: gray;
}

.dateDesign span{
    color: gray;
}

.warning{
    /* display: inline-block; */
    line-height: 5px;
    font-size: 15px;
    letter-spacing: .5px;
    color: red;
  }

  .category{
      width: 6rem;
      height: 3rem;
      border-radius: 5px;
      text-align: center;
      padding: 1px 0;
      box-sizing: border-box;
      color: white;
  }

  .colorDivRed{
    background-color: red;
  }

  .colorDivGreen{
    background-color: green;
  }

  .colorDivViolet{
    background-color: violet;
  }

  .colorDivBlue{
    background-color: Blue;
  }


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 12px;
    width: 10rem;
    top: 100%;
    left: 50%;
    margin-left: -6rem; /* Use half of the width (120/2 = 60), to center the tooltip */
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    font-weight: 300;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .footerStyle{
      color: white;
      background-image:linear-gradient(90deg,cyan,darkblue,cyan);
  }

  #info-container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  i{
    color: blue;
  }
